{{outlet}}


{{!-- <div class="shop-wrapper">
    <div class="list-table">
        <div class="list-table-header">
            <div class="list-table-row shop">
                <div class="list-table-col">Name</div>
                <div class="list-table-col">QTY</div>
                <div class="list-table-col">Price</div>            
            </div>
        </div>
        <div class="list-table-body">
            <div class="list-table-row shop">
                <div class="list-table-col">{{shop.name}}</div>
                <div class="list-table-col">QTY</div>
                <div class="list-table-col">Price</div>            
            </div>
            <div class="list-table-row shop">
                <div class="list-table-col">{{shop.name}}</div>
                <div class="list-table-col">QTY</div>
                <div class="list-table-col">Price</div>            
            </div>
        </div>
    </div>
</div> --}}
